<div id="fh5co-careers" data-section="careers">
  {{ with .Site.Params.careers }}
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      <h2>{{ .title }}</h2>
      <p>{{ .description | markdownify }}</p>
    </div>
  </div>

  <div class="jobs-container">
    <div class="container">
    {{ range .item }}
    <div class="col-md-6">
      <div class="career">
        <h3>{{ .title }}</h3>
        <p>{{ .description | markdownify }}</p>
        <div class="job-requirements">{{ .requirements | markdownify }}</div>
      </div>
    </div>
    {{ end }}
    </div>
  </div>
  {{ end }}
</div> <!-- END fh5co-careers -->
