<div id="fh5co-home" class="js-fullheight-home" style="background-color: #36424c;/*background-image: url({{ with .Site.Params.hero.img }}{{ . | absURL }}{{ end }});*/" data-section="home" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="js-fullheight-home fh5co-copy">
      <div class="js-fullheight-home fh5co-copy-inner">
        <div class="rune-logo">
          <img src="/images/rune-logo.png" style="height:auto; width:100%" />
        </div>
      </div>
    </div>
  </div>
</div>
